---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<div class="card">
		<h1>H1</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam urna mi, rutrum vel rutrum nec, aliquet id nisl. Suspendisse ullamcorper euismod ante, eget accumsan nibh vulputate at. Cras massa nisi, malesuada et turpis at, posuere blandit ipsum. Etiam in lectus sit amet nunc commodo semper non sed nunc. Sed finibus sapien orci, in scelerisque augue laoreet non. Donec et tellus turpis. Praesent tristique elit velit, vitae maximus ex elementum non. Sed laoreet scelerisque eros a sodales. Maecenas vel nisi blandit, semper felis non, dapibus ante. Mauris quis varius lectus, posuere mollis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam urna mi, rutrum vel rutrum nec, aliquet id nisl. Suspendisse ullamcorper euismod ante, eget accumsan nibh vulputate at. Cras massa nisi, malesuada et turpis at, posuere blandit ipsum. Etiam in lectus sit amet nunc commodo semper non sed nunc. Sed finibus sapien orci, in scelerisque augue laoreet non. Donec et tellus turpis. Praesent tristique elit velit, vitae maximus ex elementum non. Sed laoreet scelerisque eros a sodales. Maecenas vel nisi blandit, semper felis non, dapibus ante. Mauris quis varius lectus, posuere mollis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>	
	</div>
	<h2>H2</h2>
	<h3>h3</h3>
	<h4>h4</h4>
</Layout>
